<header class="header">
    {% assign sorted_pages = site.pages | sort:"order" %}
    <nav class="nav">
        <a class="home" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        {%- for ipage in sorted_pages -%}
            {%- if ipage.title -%}
                <a href="{{ ipage.url | relative_url }}">{{ ipage.title | escape }}</a>
            {%- endif -%}
        {%- endfor -%}
    </nav>
    <div class="banner">
        <h2>{{ page.heading }}</h2>
        <p>{{ page.description }}</p>
    </div>
</header>