---
layout: default
---

<div class="hero">
    {%- include header.html -%}
</div>

<div class="banner">
    <h2>Our Clubs</h2>
    <p>We intend to have a positive social impact in our community through a more curious and creative life. 
        We provide diverse and affordable short handcraft workshops within a small group of like minded people. In every session you'll bring something new home.</p>
    <p>Become a maker and get inspired to do something yourself again and learn new things. It's never too late to learn a new skill. This is hobbyzone.</p>
</div>

<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}


    {% if site.paginate %}
        {% assign posts = paginator.posts %}
    {% else %}
        {% assign posts = site.posts %}
    {% endif %}

    {% for topic in site.topics %}
        <a href="{{ topic.url }}"><h2>{{ topic.title }} - {{ topic.slug }}</h2></a>
        <!-- <p>{{ workshop.content | markdownify }}</p> -->
    {% endfor %}

    {% for workshop in site.workshops %}
        <a href="{{ workshop.url }}"><h2>{{ workshop.title }} - {{ workshop.date | date: "%d %B %Y" }}</h2></a>
        <!-- <p>{{ workshop.content | markdownify }}</p> -->
    {% endfor %}


    {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
            <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        
        <ul class="post-list">
            {%- for post in posts -%}
                <li>
                    <span class="post-meta">{{ post.date | date: "%d %B %Y" }}</span>
                    <h3>
                        <a class="post-link" href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h3>
                    {%- if site.show_excerpts -%}
                        {{ post.excerpt }}
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>

        {% if site.paginate %}
            <div class="pager">
                <ul class="pagination">
                    {%- if paginator.previous_page %}
                        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
                    {%- else %}
                        <li>
                            <div class="pager-edge">•</div>
                        </li>
                    {%- endif %}
                    <li>
                        <div class="current-page">{{ paginator.page }}</div>
                    </li>
                    {%- if paginator.next_page %}
                        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
                    {%- else %}
                        <li>
                            <div class="pager-edge">•</div>
                        </li>
                    {%- endif %}
                </ul>
            </div>
        {%- endif %}

    {%- endif -%}

</div>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfsCmgsfEnITUfmBdRlFBDNOA_YXoe9DlVxAwuO8T6MRohF5g/viewform?embedded=true" width="640" height="1491" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

<!-- Netlify Identity Widget Redirect to Admin -->
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
            });
        }
      });
    }
</script>